# Data Processing 

Why Data Processing ?

We want the machine to learn some data and do something useful on its own or what we programmed to do. 

- Real world data is often inconsistent,noisy and lot of errors. So we need to process the data before training the model with the data set. 
- And also data preprocessing is necessary because it involves the transformation of raw data to understandable format.

Things to do ? 

1. load a data set 
2. handle the missing data by mean strategy

In [6]:
import numpy as np  # Mathematics functions.

Why we need numpy ? 

<b> used for the mathematic function(mostly vectors and matrices) </b>

In [7]:
import pandas as pd  # Deal with datasets.

Why we need pandas ? <b> deals with the dataset. </b>

In [8]:
dataset = pd.read_csv('datasets/Data.csv') # read_csv can take CSV link.

In [9]:
print(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### Usage of iloc 

<b> iloc </b> 

<i> iloc(selection row,selection columns) </i> : 

Gets rows (or columns) at particular positions in the index (so it only takes integers).

In [17]:
dataset.iloc[0] # row of data frame

Country      France
Age              44
Salary        72000
Purchased        No
Name: 0, dtype: object

In [36]:
dataset.iloc[:,1] # column of data frame

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [40]:
dataset.iloc[0:5] # first five rows of dataframe

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [41]:
dataset.iloc[: ,0:2] # first two columns of data frame with all rows

   Country   Age
0   France  44.0
1    Spain  27.0
2  Germany  30.0
3    Spain  38.0
4  Germany  40.0
5   France  35.0
6    Spain   NaN
7   France  48.0
8  Germany  50.0
9   France  37.0

In [ ]:
X = dataset.iloc[:, :-1].values  # missing data found in these rows.

In [4]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [42]:
Y = dataset.iloc[:, 3].values # this row has all the data without any missing.

In [43]:
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## What's under the hood ? 

<b> Imputer(missing_values,strategy,axis) </b>: 
The Imputer fills missing values with some statistics (e.g. mean, median, ...) of the data. To avoid data leakage during cross-validation, it computes the statistic on the train data during the fit, stores it and uses it on the test data, during the transform.

i. fit: Make statistics from the given fit[element] 


`imputer = imputer.fit(X[ : , 1:3]) ==> Get the strategy type`

transform: Transform the statistic value with nan or missing value 


`X[ : , 1:3] = imputer.transform(X[ : , 1:3])` 

LabelEncoder: LabelEncoder can turn `[France,Spain,Germany] into [0,1,2].`

ii. fit_transform: Transform the fit values with labelEncoder


`X[:, 0] = labelencoder_X.fit_transform(X[:, 0]) ==> Labelize the first row`

In [79]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = "NaN", strategy = "mean")
imputer = imputer.fit(X[ : , 1:3])
X[ : , 1:3] = imputer.transform(X[ : , 1:3])

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [80]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [81]:
dataset.iloc[:, :-1].values

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [82]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])

In [85]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [86]:
labelencoder_Y = LabelEncoder()
Y =  labelencoder_Y.fit_transform(Y)

In [87]:
Y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [88]:
dataset.iloc[:, 3].values

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

In [91]:
X_train

array([[1, 40.0, 63777.77777777778],
       [0, 37.0, 67000.0],
       [2, 27.0, 48000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [2, 38.0, 61000.0],
       [0, 44.0, 72000.0],
       [0, 35.0, 58000.0]], dtype=object)

In [92]:
X_test

array([[1, 30.0, 54000.0],
       [1, 50.0, 83000.0]], dtype=object)

In [93]:
Y_train

array([1, 1, 1, 0, 1, 0, 0, 1])

In [94]:
Y_test

array([0, 0])

In [95]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [96]:
X_train

array([[ 0.13483997,  0.26306757,  0.12381479],
       [-0.94387981, -0.25350148,  0.46175632],
       [ 1.21355975, -1.97539832, -1.53093341],
       [ 1.21355975,  0.05261351, -1.11141978],
       [-0.94387981,  1.64058505,  1.7202972 ],
       [ 1.21355975, -0.0813118 , -0.16751412],
       [-0.94387981,  0.95182631,  0.98614835],
       [-0.94387981, -0.59788085, -0.48214934]])

In [97]:
X_test

array([[ 0., -1., -1.],
       [ 0.,  1.,  1.]])