In [3]:
import pandas as pd
df = pd.read_csv('Data.csv')

In [4]:
df.shape

(10, 4)

In [5]:
df.head(1)

  Country   Age   Salary Purchased
0  France  44.0  72000.0        No

In [ ]:
df.tail(5)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.corr()

In [ ]:
df.count()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.median()

In [ ]:
df.std()

In [ ]:
df.value_counts()

In [ ]:
df[['Country','Age']]

In [ ]:
df.loc[0]

In [ ]:
df.loc[0,:]

In [19]:
df.loc[:]

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
df.loc[1:2,]

In [ ]:
df.iloc[1,2]

In [ ]:
df.isnull()

In [ ]:
df.dropna()

In [ ]:
df.fillna(1)

In [ ]:
df.fillna(df.mean())